/.vs/
/.vscode/
/.idea/
bin/
obj/
packages/
coverage-report/
coverage.cobertura.xml
*/__snapshots__/__mismatch__/
global.json
SBOM/
.bash_history
.dotnet/
.local/
.nuget/
.opencode-server/
TestResults/
CycloneDX/Properties/launchSettings.json
*.binlog
*.DotSettings.user
MSBuild_Logs/
/.agent/
bom.xml