<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net472" />
  <package id="NuGet.Common" version="5.2.0" targetFramework="net472" />
  <package id="NuGet.Configuration" version="5.2.0" targetFramework="net472" />
  <package id="NuGet.DependencyResolver.Core" version="5.2.0" targetFramework="net472" />
  <package id="NuGet.Frameworks" version="5.2.0" targetFramework="net472" />
  <package id="NuGet.LibraryModel" version="5.2.0" targetFramework="net472" />
  <package id="NuGet.Packaging" version="5.2.0" targetFramework="net472" />
  <package id="NuGet.ProjectModel" version="5.2.0" targetFramework="net472" />
  <package id="NuGet.Protocol" version="5.2.0" targetFramework="net472" />
  <package id="NuGet.Versioning" version="5.2.0" targetFramework="net472" />
</packages>